######################
# Project Specific
######################


######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# Mac OSX
######################
.DS_Store

# Thumbnails
._*

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*


